@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;1,500&family=Lexend&display=swap');

* {
  font-family: "Lexend", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(black, rgb(160, 160, 160));
  background-attachment: fixed;
}

header {
  margin: 30px;
  background-image: linear-gradient(rgb(58, 58, 58), black);
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}


header h1 {
  font-size: 5rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

header p {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

main {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

#stage-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.stage-button {
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 15px;
  color: #000000;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
}

.active {
  margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.projects-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.project {
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
  box-shadow: -10px 10px 10px rgb(145, 145, 145);
  width: 15%;
  word-wrap: break-word;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  transition: 0.5s;
}

.project:hover {
  box-shadow: 10px -10px 10px rgb(224, 224, 224);
}

.project h3 {
  font-size: 1.5rem;
  font-family: "Exo 2", sans-serif;
}